<div class= "row" id="show-title">
<h3>Category <%=@cyclone.f_scale%> Tornado on <%=@cyclone.cyclone_date.month.to_s + "/" + @cyclone.cyclone_date.day.to_s + "/" + @cyclone.cyclone_date.year.to_s %></h3>
</row>
