<body>
  <img alt="full screen background image" src="westpoint2.gif" id="full-screen-background-image" /> 
  <div id="wrapper2">
    <div class="about">
      <h3 id= "about-header">About StormChaser</h3>
      <p>StormChaser is a data-visualization app for the recorded history of tornadoes in the United States.  Our app utilizes data from our StormChaser API, an open API that has freed the past 63 years of tornado data from the clutches of a mammoth CSV file and integrated it with data from Forecast.io and Google Visualization API to provide a comprehensive data-set for each cyclone.</p>

      <h3>About our Data Set</h3>
      <p>Until the 1950's, no data was recorded on cyclones in the United States. In fact, weathermen were not permited to forecast cyclones for fear of instigating riots and panic in the general public.  Our data represents the all of recorded history of cyclones in the United States: over 60,000 cyclones from 1950 to present day.</p>

      <p>We also pull in historical data into our API from Forecast.io to provide hourly weather information for 24 hours surrounding each cyclone.  For this reason, you may see gaps in certain hours for a few cyclones.  Rather than fill these gaps with averages, we chose to leave them a-is to present the most accurate representation of historical data available.</p>

      <h3>Find out More</h3>
      <p>The source code and more information can be found on Github at:
      <a href="http://www.github.com/bethanynagel/stormchaser">http://www.github.com/bethanynagel/stormchaser</a> </p>
      <p>Or feel free to reach out to us directly: </p>
      <ul>
        <li>Patrick Brennan |<a href="mailto:patrick@patrickbrennan.co"> patrick@patrickbrennan.co</a></li>
        <li id="about-footer">Bethany Nagel | <a href="mailto:bethanylnagel@gmail.com">bethanylnagel@gmail.com</a></li>
      </ul>
    </div>
  </div>
</body>