
<%= render 'cyclones/title_index' %>
<div class="row container">
<!-- left column -->
<div class="col-md-1 side"></div>
<!-- middle column -->
<div class="col-md-10 middle">
	<div id="map" class="map-large"></div>
	</div>
      <!-- right column -->
<div class="col-md-1 side"></div>
</div>
<%= render 'cyclones/footer_index' %>



<%= javascript_include_tag "cyclones" %>



