<%= javascript_include_tag "cyclones" %>
<%= render 'cyclones/title_index' %>
<div class="row container">
<!-- left column -->
<div class="small-1 columns side"></div>
<!-- middle column -->
<div class="small-10 columns middle">
	<div id="map-canvas" class="map-large"></div>
	</div>
      <!-- right column -->
<div class="small-1 columns side"></div>
</div>
<%= render 'cyclones/footer_index' %>

