
<body>
  <img alt="full screen background image" src="westpoint2.gif" id="full-screen-background-image" /> 
  <div id="wrapper">
    <a class="btn btn-default" href="./cyclones" role="button">Enter Site</a>
  </div>
</body>






