
<%= render 'cyclones/title_show' %>
<div class="row">


<!-- middle column -->
<div class="col-md-12 middle">
	<div class="dashboard">
		<div class="col-md-6">
			<!-- display map -->
			<div id="map"></div>
		</div>
		<div class="col-md-6">
			<ul id="myTab" class="nav nav-tabs">
				<li id="tab1"><a href="#gauges">TouchDown Data</a></li>
				<li id="tab2"><a href="#barchart">Loss Comparison</a></li>
				<li id="tab3"><a href="#hourlydata">Hourly Data</a></li>
			</ul>
		<div class="tab-content">
  		<div class="tab-pane active" id="gauges">
				<!-- display gauges -->
				<div id='chart_div1'></div>
				<div id='chart_div2'></div>
				<div id='chart_div3'></div>
			</div>
			<!-- display BarCharts -->
			<div class="tab-pane" id="barchart">
				<div id='chart_div4'></div>
			</div>
			<!-- display historical data -->
			<div class="tab-pane" id="hourlydata">
         <div id='chart_div5'></div> 
      </div>
			</div>
		</div>
	</div> <!-- closes dashboard -->
</div> <!-- closes middle column -->

</div> <!-- closes row -->

<%= javascript_include_tag "cyclones-show" %>
<%= javascript_include_tag "cyclones-gauges" %>







