<div class= "row" id="show-title">
<h3>Category <%=@storm.f_scale%> Tornado on <%=@storm.tornado_date.month.to_s + "/" + @storm.tornado_date.day.to_s + "/" + @storm.tornado_date.year.to_s %></h3>
</row>
