// Place all the styles related to the Storms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

/*navigation*/
.nav-tabs>li>a {
  color:black;
  background-color: white;
  border-color: gray !important;
}
.nav-tabs>li>a:hover {
  background-color: gray !important;
}

.nav-tabs>li.active>a {
  background-color: #303335 !important;
  color:white !important;
}

.nav-pills>li>a {
  color: white;
  background-color: gray; 
}

.nav-pills>li.active>a {
  background-color: white !important;
  border-color: #303335 !important;
  color:black !important;
}

/*landing page*/

#wrapper {
  position: relative;
  width: 800px;
  min-height: 400px;
  margin: 150px auto;
  color: #333;
}

#entersite {
  height: 350px;
  width: 400px;
  border-radius: 15px;
  border: 1px gray solid;
  background: rgba(0, 0, 0, .25);
  margin: auto;
  
}

#entersite h3 {
 font-family: Futura, "Trebuchet MS", Arial, sans-serif;
 text-align: center;
 margin-top: 25px;
 color: white;
}

a.btn {
  margin-top: 30px;
  padding-top: 14px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 16px;
}

/*About page*/
#wrapper2 {
  position: relative;
  width: 800px;
  min-height: 400px;
  margin: 50px auto;
  color: white;
}

#wrapper2 p, #wrapper2 li {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 16px;
  margin-left: 25px;
  margin-right: 25px;
  color: white;
}

#wrapper2 h3 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  margin-left: 25px;
  margin-left: 25px;
}

#wrapper2 ul {
  list-style: none;
}

#wrapper2 a:link {
  color: white;
}

#wrapper2 a:hover {
  color: black;
}

.about {
  background: rgba(0, 0, 0, .5);
  border-radius: 15px;
}

#about-header {
  padding-top: 25px;
}

#about-footer {
  padding-bottom: 25px;
}

/*application styling*/

#map {
  height: 500px;
  width: 100%;
  margin: auto;
  border-top: black 1px solid;
  border-bottom: black 1px solid;
}

.dashboard {
  height: 500px;
  background-color: #303335
}
.main {
  margin-top: 75px;
}

.middle {
	width: 100%;
}


/*Charts*/
div table {
	background: #303335;
}

#hourlydata {
  margin-top: 50px;
}

#small_pane {
  background-color: white;
  width: 350px;
}

#barchart {
  margin-top: 75px !important;
}

div.row.barchart {
  text-align: center;
}

div.row.hourly {
  text-align: center;
}
#hourlyTab {
  display: inline-block;
}

#small_pane {
  position: relative;
  display: inline-table;
}

div.row.gauge {
  margin-top: 30px;
  text-align: center;
}
.smallgauge {
  width: 200px;
  display: inline-block;
}

#chart_div4 {
  display: inline-block;
}

/*Search Page*/

#search-radius {
  background-color: #BDDDDD;
  margin-top: 50px;
  padding: 0 15px 15px 15px;
  border-radius: 15px;
}

#search-radius h5, #search-radius p {
  color: #303335;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  text-align: center;
}

#search-radius h5 {
  padding-top: 15px;
}

#city, #state {
  color: #303335;
}

#citysearch, #statesearch {
  width: 150px;
}
#citysearch {
margin-left: 10px;
margin-bottom: 10px;
}

#statesearch {
  margin-bottom: 10px;
}

/*Legends*/

.legend-search {
  background-color: #BDDDDD;
  border-radius: 15px;
  padding-left: 15px;
  margin-top: 50px;
}

.legend .legend-title {
  padding-top: 15px;
  text-align: left;
  margin-bottom: 8px;
  font-weight: bold;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 16px;
}

.legend .legend-title #legend-subtitle {
  font-size: 12px;
  text-align: center;
}

.legend .legend-scale ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  color: #303335;
}

.legend .legend-scale ul li {
 /* width: 50px;
  margin-bottom: 6px;
  text-align: center;
  font-size: 80%;
  list-style: none;*/
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  color: #303335;
}

.around {
  font-family: Calibri;
}

.legend .legend-scale .legend-labels {
  padding-bottom: 15px;
}


