// Place all the styles related to the Storms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

/*navigation*/
.nav-tabs>li>a {
  color:black;
  background-color: white;
  border-color: gray !important;
}
.nav-tabs>li>a:hover {
  background-color: gray !important;
}

.nav-tabs>li.active>a {
  background-color: #303335 !important;
  color:white !important;
}

.nav-pills>li>a {
  color: white;
  background-color: gray; 
}

.nav-pills>li.active>a {
  background-color: white !important;
  border-color: #303335 !important;
  color:black !important;
}

/*landing page*/
#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0;
  left: 0;
}

#wrapper {
  position: relative;
  width: 800px;
  min-height: 400px;
  margin: 100px auto;
  color: #333;
}

/*application styling*/

#map {
  height: 500px;
  width: 100%;
  margin: auto;
  border-top: black 1px solid;
  border-bottom: black 1px solid;
}

.dashboard {
  height: 500px;
  background-color: #303335
}
.main {
  margin-top: 75px;
}

.middle {
	width: 100%;
}


/*Charts*/
div table {
	background: #303335;
}

#hourlydata {
  margin-top: 50px;
}

#small_pane {
  background-color: white;
  width: 350px;
}

#barchart {
  margin-top: 75px !important;
}

div.row.barchart {
  text-align: center;
}

div.row.hourly {
  text-align: center;
}
#hourlyTab {
  display: inline-block;
}

#small_pane {
  position: relative;
  display: inline-table;
}

div.row.gauge {
  margin-top: 30px;
  text-align: center;
}
.smallgauge {
  width: 200px;
  display: inline-block;
}

#chart_div4 {
  display: inline-block;
}

/*Search Page*/

#search-radius {
  background-color: #BDDDDD;
  margin-top: 15%;
  margin-bottom: 25%;
  padding: 5px;
  border-radius: 15px;
}

#search-radius h4, h5 {
  color: #303335;
  font-family: Futura;
  text-align: center;
}

#city, #state {
  color: #303335;
}

#citysearch, #statesearch {
  width: 150px;
}

/*Legends*/

.my-legend .legend-title {
  text-align: left;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 90%;
}
.my-legend .legend-scale ul {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
}
.my-legend .legend-scale ul li {
  display: block;
  float: left;
  width: 50px;
  margin-bottom: 6px;
  text-align: center;
  font-size: 80%;
  list-style: none;
}
.my-legend ul.legend-labels li span {
  display: block;
  float: left;
  height: 15px;
  width: 50px;
}

.my-legend a {
  color: #777;
}

#show-legend-content {
  color: #303335;
  background-color: #BDDDDD;

}

/*div.map-legend.wax-legend {
  background-color: #bddddd;
  border: 1px solid #303335;
}*/

.show-legend {
  height: 100px;
  color: #303335;
}

.show-legend .show-legend-title {
  text-align: center;
}

.show-legend .show-legend-scale ul.show-legend-labels {
  list-style: none !important;
  text-align: center;
}

.show-legend ul.show-legend-labels li{
 /* display: block;*/
  list-style: none;
  height: 15px;
  width: 50px;
}
