// Place all the styles related to the Storms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav-tabs>li>a {
  color:black;
  background-color: white;
  border-color: gray !important;
}
.nav-tabs>li>a:hover {
  background-color: gray !important;
}

.nav-tabs>li.active>a {
  background-color: #303335 !important; 
  color:white !important;
}

.nav-pills>li>a {
  color: white;
  background-color: gray; 
}

.nav-pills>li.active>a {
  background-color: white !important; 
  border-color: #303335 !important;
  color:black !important;
}


#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0;
  left: 0;
}

#wrapper {
  position: relative;
  width: 800px;
  min-height: 400px;
  margin: 100px auto;
  color: #333;
}

.main {
  margin-top: 75px;
}

.show {
  margin-top: 75px;
}

.middle {
	width: 100%;
}

#barchart {
  margin-top: 75px !important;
}

#hourlydata {
  margin-top: 50px;
}

#map {
	height: 400px;
  width: 100%;
  margin: auto;
  border-top: black 1px solid;
  border-bottom: black 1px solid;
}

#index-footer h3 {
	text-align: center;
	color: white;
	font-family: Futura;
	margin-top: 20px;
}

#show-title h3 {
	text-align: center;
	color: white;
	font-family: Futura;
}

.dashboard {
	height: 400px;
	background: #303335;
	/*padding-top: 45px;*/
}

h3 {
	color: white;
	font-family: Futura;
}

div table {
	background: #303335;
}

#city, #state, #radius {
	width: 200px;
}

.my-legend .legend-title {
  text-align: left;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 90%;
}
.my-legend .legend-scale ul {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
}
.my-legend .legend-scale ul li {
  display: block;
  float: left;
  width: 50px;
  margin-bottom: 6px;
  text-align: center;
  font-size: 80%;
  list-style: none;
}
.my-legend ul.legend-labels li span {
  display: block;
  float: left;
  height: 15px;
  width: 50px;
}

.my-legend a {
  color: #777;
}
