// Place all the styles related to the Storms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 html, body {
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px
      }

 #map-canvas {
 				height: 500px;
        width: 100%;
        margin: 0px;
        padding: 0px
 }