<%# add navigation links to this file %>
 <li class="name"><%= link_to 'Sign In', new_user_session_path %></li>
 <li class="name"><%= link_to 'Search', search_path %></li>
 <div class= "name" id="logo">
  <img src="../stormchaserlogo.png">
<div>